# 01. Lists

### Data Structures in Python 

Builtin Datatypes:
- Strings
- Lists
- Tuples
- Dictionaries
- Sets

### Lists
- List is like array, heterogenous list

In [2]:
myList = [1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [12]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [13]:
l3 = list(l2)
print(l3)

[1, 2, 3]

In [14]:
l3 = l3 + l2
print(l3)

[1, 2, 3, 1, 2, 3]

In [15]:
l3.extend(l2)
print(l3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
# List of Square of the number from 1 to 5
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

### List Slicing

In [17]:
l4[0:4]

[1, 4, 9, 16]

In [19]:
l4[-3:]

[9, 16, 25]

### Insertion and Deletion
- append
- insert
- remove
- pop
- del

In [28]:
l = [1,2]
l.append(3)
l.append([1,5])
print(l)

[1, 2, 3, [1, 5]]

In [29]:
l += [4,5,6] # It will be appended element by element not as a list
print(l)

[1, 2, 3, [1, 5], 4, 5, 6]

In [30]:
l.remove(2)
print(l)

[1, 3, [1, 5], 4, 5, 6]

In [31]:
del l[0]
print(l)

[3, [1, 5], 4, 5, 6]

In [32]:
l.pop()
print(l)

[3, [1, 5], 4, 5]

In [33]:
l = ([1,2,3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
l = ["Apple","Mango","Guava",80]
print(l)

['Apple', 'Mango', 'Guava', 80]

In [35]:
80 in l

True

In [36]:
for i in range(len(l)):
    print(l[i])

Apple
Mango
Guava
80

In [37]:
for x in l:
    print(x)

Apple
Mango
Guava
80

In [38]:
l.insert(2,20)
print(l)

['Apple', 'Mango', 20, 'Guava', 80]

# 02. Sorting and Searching on Lists

In [39]:
l = [4,3,2,16,18]
print(max(l))
print(min(l))
# Linear Search
print(l.index(16))

18
2
3

In [40]:
sorted(l)

[2, 3, 4, 16, 18]

In [41]:
print(l)

[4, 3, 2, 16, 18]

In [42]:
l = sorted(l)

In [43]:
print(l)

[2, 3, 4, 16, 18]

In [44]:
l = [4,5,1,3,2]
l.sort()
print(l)

[1, 2, 3, 4, 5]

In [45]:
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [47]:
# Read a list of number
numbers = input()
print(type(numbers))

1 12 45 67
<class 'str'>

In [48]:
numbers = input().split()
print(numbers)
print(type(numbers))

1 2 3 4 67
['1', '2', '3', '4', '67']
<class 'list'>

In [49]:
numbers = [number for number in input().split()]
print(numbers)
print(type(numbers))

1 2 3 4
['1', '2', '3', '4']
<class 'list'>

In [50]:
numbers = [int(number) for number in input().split()]
print(numbers)
print(type(numbers))

1 2 3 4
[1, 2, 3, 4]
<class 'list'>

# 03. Dictionaries

<img src='../Images/Image1.png'/>
<img src='../Images/Image1.png'/>

In [77]:
d = {}
print(type(d))

<class 'dict'>

In [78]:
d = {"Mango":100,"Apple":80}
print(d)

{'Mango': 100, 'Apple': 80}

In [79]:
# Look Up
print(d["Mango"])

100

In [80]:
d["Guava"]=60
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60}

In [81]:
d["Grapes"] = [10,20]
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grapes': [10, 20]}

In [82]:
print(d["Grapes"])

[10, 20]

In [83]:
d["Pineapple"] = {"Small":90,"Large":150}
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grapes': [10, 20], 'Pineapple': {'Small': 90, 'Large': 150}}

In [84]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grapes', 'Pineapple'])

In [85]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

# 04. Dictionaries II

In [86]:
print(d["Mangoes"])

KeyError: 'Mangoes'

In [87]:
d.get("Mango")

100

In [88]:
print(d.get("Mangoes"))

None

In [89]:
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [90]:
if "Mango" in d:
    print("Price of the mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Price of the mango is 100

In [91]:
print(d.items())

dict_items([('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grapes', [10, 20]), ('Pineapple', {'Small': 90, 'Large': 150})])

In [92]:
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grapes', [10, 20]), ('Pineapple', {'Small': 90, 'Large': 150})]

In [93]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grapes', [10, 20])]

In [95]:
d2 = {"Strawberry":95}
d.update(d2) # Merges them together
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grapes': [10, 20], 'Strawberry': 95}

In [96]:
print(len(d))

5

In [97]:
d.clear()
print(len(d))

0

In [99]:
l1 = ["Apple", "Papaya", "Guava", "Banana"]
l2 = [100, 120, 30, 50]
p = dict(zip(l1, l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}
<class 'dict'>

In [100]:
for k in p:
    print(k)

Apple
Papaya
Guava
Banana

In [102]:
for k in p.keys():
    print(k)

Apple
Papaya
Guava
Banana

In [103]:
for v in p.values():
    print(v)

100
120
30
50

<img src='../Images/Image3.png'/>

# 05. Tuples

<img src='../Images/Image4.png'/>
<img src='../Images/Image5.png'/>

In [106]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [108]:
# tuples are immutable
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [109]:
# Convert a tuple into a list

In [111]:
l = list(t)
print(l)

[1, 2, 3, 'Hello']

In [112]:
l[0] = 5
print(l)

[5, 2, 3, 'Hello']

In [118]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [119]:
# Concatenation
print(t2+t)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')

In [120]:
# Repetition
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [121]:
print(len(t))

4

In [122]:
print(max(t))

TypeError: '>' not supported between instances of 'str' and 'int'

In [123]:
t = (1,44,3,2)
print(max(t))

44

In [124]:
del t

In [125]:
print(t)

NameError: name 't' is not defined

# 06. Sets

<img src='../Images/Image6.png'/>

In [129]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [130]:
s2 = {5,6,11,1,1}
print(s2) # not ordered

{1, 11, 5, 6}

In [131]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [132]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [133]:
s | s2 # Union

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [134]:
s & s2 # Intersection

{1}

In [135]:
s.intersection(s2)

{1}

In [138]:
s-s2 # difference

{2, 3, 4, 15}

In [139]:
s.difference(s2)

{2, 3, 4, 15}

In [140]:
s.clear()
print(s)

set()

In [143]:
s = set([15,1,2,3,4,3,1,1])
s2 = {5,6,11,1,1}
if 4 in s:
    print("Present")
else:
    print("Not Present")

Present

In [145]:
s ^ s2 # Present in one of the set only

{2, 3, 4, 5, 6, 11, 15}

In [146]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

# Those element which are only in one of the sets
print(a1^a2)

{1, 5, 6}